/* reset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .debug{
    border: 2px dashed fuchsia;
} */
/* Classi Comuni */
.disp-flex{
    display: flex;
}
.just-cont-SB{
    justify-content: space-between;
}
.color{
    background-color: #9185e5;
}
.txt-center{
    text-align: center;
}
.marginb30{
    margin-bottom: 30px;
}

.margintopbot50px{
    margin: 50px 0;
}

a{
    text-decoration: none;
    background-color: #0084fd;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
}

/* Header */
header{
    background-color: #0084fd;
    justify-content: center;
    padding: 10px 0;
}

.container{
    justify-content: space-between;
    width: 70%;
    align-items: center; 
}

.logo{
    width: 13%;
}

.li-nav li{
    display: inline;
}

.li-nav a{
    padding: 5px;
}

.hidden-menu{
    color: white;
    display: none; 
}

#get-started{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
}
/* Fine Header */

/* 1a Section */
.container-section1{
    min-height: 500px;
    width: 70%;
    margin: 0 auto;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0;
}
.card{
    width: calc((100% / 3) - 20px);
    background-color: #b5ddff;
    padding-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;

}
.cards .card:first-child{
    width: calc(((100% / 3) * 2) - 10px);
    display: flex;
    
}

.cards > .card:first-child > *{
    width: 50%;
}

.card-text1{
    padding-left: 20px;
    font-size: 18px;
    line-height: 25px;
}

.card p{
    line-height: 25px;
    vertical-align: middle;
}

#phone{
    width: 60%;
    padding-left: 50px;
}

.card h3, .card .fa-solid{
    color: #0084fd;
}

/* section 2 */

.container-section2{
    width: 50%;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.container-planning{
    width: 50%;
    color: white;
}

.container-developement{
    width: 50%;
    border-radius: 40px;
    text-align: center; 
    background-color: white;
    margin: 30px 0;
}
.img-planning, .img-planning2{
    width: 100%;
    margin-bottom: 30px;
}

.fa-arrow-down{
    background-color: #9792e4;
    font-size: 30px;
    padding: 10px;
    clip-path: circle();
}
/* section 3 */

.container-section3{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin: 50px auto;
}

.partner-cards{
    min-height: 300px;
}

.partner-card{
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    background-color: #9792e4;
    border-radius: 25px;
}

.partner-img{
    width: 20%;
}
.partner-img img {
    clip-path: circle();  
}

.partner-text{
    width: 75%;
}
.container-section3 h3{
    color: #9792e4;
    font-size: 30px;
}
.partner-card:first-child{
    margin-top: 40px;
}
/* section 4 */

.benefit-container{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}


.benefit-title{
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 30px;
}

.benefit-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.benefit-card{
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    padding-left: 20px;
    line-height: 30px;
}

.benefit-card p{
    color: #9792e4;
}

.benefit-card a{
    background-color: #9792e4;
    margin: 40px 0;
}

.benefit-card p:first-child{
    font-size: 40px;
    font-weight: bolder;
    margin: 20px 0;
}

/* section 5 */

.container-about-us{
    display: flex;
    width: 65%;
    margin: 50px auto;
}

.about-us-text{
    width: 80%;
    line-height: 30px;
}

.about-us-text h3{
    font-size: 50px;
    color: #9792e4;
}

.about-us-img{
    width: 20%;
}
.about-us-img img{
    width: 100%;
    clip-path: circle();
}

.about-us-img p{
    color: #9185e5;
    font-size: 23px;
}

/* section 6 */

.container-get-started{
    width: 40%;
    margin: 0 auto;
    min-height: 200px;
    text-align: center;
    color: white;
    padding: 20px 0;
}


.container-get-started h3{
    font-size: 40px;
}

.container-get-started h2{
    font-size: 50px;
    color: orange;
}

.container-get-started a{
    background-color: transparent;
}

/* footer */
footer{
    background-color: #333333;
    padding: 20px 0;
}

.container-footer{
    color: white;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.container-footer a{
    background-color: transparent;
    
}

.container-footer p{
    margin: 30px 0;
}




/* media query */

@media screen and (max-width: 768px) {
    .li-nav a{
        display: none;
    }
    .hidden-menu{
        display: inline; 
    }
    .cards .card:first-child{
        display: block;
    }
    .container-section2{
        display: block;
        padding-bottom: 40px;
    }
    .container-planning, .container-developement{
        width: 100%;
    }
    .partner-text{
        padding-top: 20px;
    }
    .benefit-container, .container, .container-section2, .container-section3, .container-about-us{
        width: 90%;
    }
    .benefit-card{
        width: 45%;
    }
    .about-us-text{
        width: 70%;
        padding-right: 20px;
    }
    .about-us-img{
        width: 30%;
    }
    .container-get-started{
        width: 80%;
    }
    .cards > .card:first-child > * {
        width: 70%;
        margin-top: 20px;
    }

}

@media screen and (max-width: 480px) {
    .cards{
        display: block;
        text-align: center;
    }
    .card, .card-text1{
        width: 100%;
    }
    .card-text1, #phone{
        padding: 0;
    }
    
    .cards > .card:first-child > * {
        width: 100%;
    }
    .cards .card:first-child{
        width: 100%;
        
    }
    .partner-card{
        display: block;
        text-align: center;
    }
    .partner-text{
        width: auto;
        padding-bottom: 10px;
    }
    .partner-img{
        width: 100%;
        padding-top: 20px;
    }
    .benefit-card, .container-get-started, .container-footer {
        width: 90%;
    }
    .container-about-us{
        display: block;
    }
    .about-us-text{
        width: auto;
    }
    .about-us-img {
        width: 100%;
    }
    .about-us-img img{
        height: 200px;
        width: 200px;
        
    }
}